@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "float-xs-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav  float-xs-right">
            <li class="nav-item">
                <a class="nav-link" title="Manage" href="@Url.Action("Index", "Manage")"><i class="fa fa-user"></i>  Olá @User.Identity.GetUserName() !</a>
            </li>
            <li class="nav-item"><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-caret-square-o-down" aria-hidden="true"></i> Fazer logout</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav  float-xs-right">
        <li class=" nav-item">
            <a class="nav-link" id="loginLink" href="@Url.Action("Register", "Account")"><i class="fa fa-pencil-square" aria-hidden="true"></i> Registre-se</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="loginLink" href="@Url.Action("Login", "Account")"><i class="fa fa-caret-square-o-right" aria-hidden="true"></i> Login</a>
        </li>
    </ul>
}